@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap'); */


#Menu{
    font-family:'Titillium Web', sans-serif;
    font-size: 2rem;
    letter-spacing: 1px;
}

.ThePdf{
    font-family: 'Times New Roman', Times, serif;
    /* letter-spacing: 1px; */
    margin: 0;
    padding: 0;
    line-height: 1.5;
    /* box-sizing: border-box; */
}
.head{
    border-bottom: solid 1px rgb(71, 64, 64);
    height: 6rem;
}
.version{
    /* color: rgb(52, 52, 52); */
    font-size: xx-small;
    letter-spacing: 0;
}

#footer{
    position: absolute;
    bottom: -1.5rem;
    right: 0px;
    left: 0px;
    border: solid 1px rgb(71, 64, 64);
    width: 100%;
    text-align:  center;

}

.res-title {
    padding: 8px 0;
    background-color: rgb(216, 210, 210);
    text-decoration: underline;
    border-radius: 3px;
}


.fit-c{
    width: fit-content;
    max-width: fit-content;
}

/* .CarteBody{
    width: 238pt;
    height: 153pt;
} */

